body{
   background-color: black;
}

header{
    display: flex;
    justify-content: space-between;

    background-color: yellow;
    width: 800px;
    height: 200px;
    margin: 0px auto;
}
header img{
    width: 60px;
    height: 60px;
}
header h3{
    margin-right: 50px;
 
}
header a{
    text-decoration: none;
}

main{
    background-color: white;
    width: 800px;
    margin: 0px auto;
}
footer{
    background-color: red;
    width: 800px;
    margin: 0px auto;
}